.next
node_modules
dist
build
coverage
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
*.log
*.lock
*.tmp
*.cache
*.bak
*.swp
*.orig
*.sublime-workspace
*.sublime-project
*.vscode
*.iml
*.code-workspace
*.eslintrc.json
*.eslintcache
*.prettierrc
*.stylelintrc
*.babelrc
*.tsbuildinfo